*{
    margin: 0;
    padding: 0;
    font-family: "segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5vh;
}

button{
    padding: 10px;
    font-size: medium;
     border-radius: 10px;
     background-color: black;
     color: white;
     box-shadow: 1px 3px 5px #000;
     cursor: pointer;
}
 
button:hover{
    background-color: #333;
}